<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personal.comunitarias">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Intro"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Denuncias.TabsDenuncia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pedidos.TabsPedido"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".tweets.TwitterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Tweets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".videos.YoutubeVideos"
            android:label="Videos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".videos.IntroVideos"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".tweets.IntroTweets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".tv.CpccsTv"
            android:label="@string/title_activity_cpccs_tv"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".tv.IntroTv"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity
            android:name=".Mision.Mision"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_mision">
        </activity>

        <activity
            android:name=".Mision.Vision"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_vision">
        </activity>

        <activity
            android:name=".preguntas.PreguntasFrecuentes"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_preguntas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".preguntas.Pregunta1"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_preguntas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".preguntas.Pregunta2"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_preguntas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".preguntas.Pregunta3"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_preguntas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".preguntas.Pregunta4"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_preguntas"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".preguntas.Pregunta5"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_preguntas"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".preguntas.Pregunta6"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_preguntas"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".preguntas.Pregunta7"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_preguntas"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".preguntas.Pregunta8"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_preguntas"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".preguntas.Pregunta9"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_preguntas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".preguntas.Pregunta10"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_preguntas"
            android:theme="@style/AppTheme.NoActionBar"  />


        <activity
            android:name=".noticias.MainActivity"
            android:label="Noticias Y Boletines"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".noticias.DetailActivity"
            android:parentActivityName=".noticias.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".noticias.MainActivity" />
        </activity>
        <activity
            android:name=".noticias.Intro_noticias"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".oficinas.OfficeDialog"
            android:label=" "
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".oficinas.OficinasActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Oficinas"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".oficinas.IntroOficinas"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".IntroFacebook"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".FacebookActivity"
            android:label="Facebook"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>