<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personal.comunitarias">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--uses-permission android:name="android.permission.READ_PHONE_STATE" /-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/marker_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="espol.example.personal.comunitarias.Intro"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="espol.example.personal.comunitarias.Denuncias.TabsDenuncia"
            android:label="@string/title_denuncia"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="espol.example.personal.comunitarias.Denuncias.IntroDenuncias"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="espol.example.personal.comunitarias.Pedidos.TabsPedido"
            android:label="@string/title_pedido"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="espol.example.personal.comunitarias.Pedidos.IntroPedidos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="espol.example.personal.comunitarias.Twitter.TwitterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Tweets"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="espol.example.personal.comunitarias.Youtube.YoutubeVideos"
            android:label="Videos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="espol.example.personal.comunitarias.Youtube.IntroVideos"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="espol.example.personal.comunitarias.Twitter.IntroTweets"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="espol.example.personal.comunitarias.CpccsTV.CpccsTv"
            android:label="@string/title_activity_cpccs_tv"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="espol.example.personal.comunitarias.CpccsTV.IntroTv"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="espol.example.personal.comunitarias.Mision.Mision"
            android:label="@string/title_activity_mision"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="espol.example.personal.comunitarias.Mision.Vision"
            android:label="@string/title_activity_vision"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="espol.example.personal.comunitarias.Noticias.DetailActivity"
            android:parentActivityName=".Noticias.NoticiasActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Noticias.NoticiasActivity" />
        </activity>
        <activity
            android:name="espol.example.personal.comunitarias.Oficinas.OfficeDialog"
            android:label=" "
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="espol.example.personal.comunitarias.Oficinas.OficinasActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Oficinas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="espol.example.personal.comunitarias.Oficinas.IntroOficinas"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="espol.example.personal.comunitarias.Facebook.IntroFacebook"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="espol.example.personal.comunitarias.Facebook.FacebookActivity"
            android:label="Facebook"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="espol.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_chooser"
            android:label="@string/choose_file">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="espol.example.personal.comunitarias.AntiCorrupcionActivity"
            android:label="Lucha Anti-corrupción"
            android:parentActivityName=".Menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="espol.example.personal.comunitarias.Intro" />
        </activity>

        <provider
            android:name="espol.ianhanniballake.localstorage.LocalStorageProvider"
            android:authorities="com.ianhanniballake.localstorage.documents"
            android:enabled="@bool/use_provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
        <activity
            android:name="espol.example.personal.comunitarias.MenuSecundario"
            android:screenOrientation="portrait"/>
        <activity android:name="espol.example.personal.comunitarias.Secciones.SeccionVideoActivity"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name="espol.example.personal.comunitarias.MenuPrincipal"
            android:screenOrientation="portrait"
            >
            android:configChanges="screenSize|screenSize"
        </activity>
    </application>

</manifest>